# Build/Binaries directories.
\Build\
\Binaries\

# UserData directory for temp files.
\UserData\

# All garbage files.
**.exe
**.dll
**.exp
**.lib
**.recipe
**.iobj
**.ipdb
**.ilk
**.log
**.CopyComplete
**.FileListAbsolute.txt
**.pdb
**.xml
**.tlog
**.lastbuildstate
**.idb
**.obj
**.ipch
**.opendb
**.db
**.suo
**.db-wal
**.db-shm
